.animation {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 10%;
        width: 0%;
    }

    to {
        margin-left: 0%;
        width: 10%;
    }
}