* {
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2017/02/11/06/13/still-life-2057102_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    max-width: 100%;
    height: 550px;
}

a {
    text-decoration: none;
}

.container {

    min-height: 100vh;
    width: 100%;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.lil {
    position: relative;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #848484;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: #848484;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #848484 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}