.kit-pgs {
    position: fixed;
    top: 6px;
    left: 1225px;
    margin: 0;
    padding: 8px 16px;
    border-bottom-left-radius: 9px;

    font-family: sans-serif;
    font-size: 15px;
    background-color: #deb887;
    text-shadow: 1px 1px 1px black;
    color: #fff;
}

.kiter {
    position: fixed;
    top: 6px;
    left: 1125px;
    margin: 0;
    padding: 8px 16px;
    border-bottom-left-radius: 9px;

    font-family: sans-serif;
    font-size: 15px;
    background-color: #deb887;
    text-shadow: 1px 1px 1px black;
    color: #fff;
}
.kit-img {
    display: block;
    height: 675px;
    width: 1200px;
}