[data-modal-open] {
    position: fixed;
    color: rgba(39, 151, 192, 0.733);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(52, 49, 61, 0.236);
    opacity: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: 0;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    min-height: 200px;
    padding: 15px;
    background-color: rgba(169, 146, 74, 0.589);
    transform: translate(-50%, -50%);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0);
    }
}

*[tooltip]:hover:after {
    position: relative;
    content: attr(tooltip);
    border: #777;
    background-color: #aaa;
    padding: 5px;
}
[data-modal-open] {
    color: rgba(232, 19, 19, 0.182);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 221, 211, 0.153);
    opacity: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: 0;
    visibility: hidden;
}

/* .no-scroll {
  overflow: hidden;
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 500px;
    min-height: 400px;
    padding: 15px;
    background-color: rgb(29, 178, 236);
    transform: translate(-50%, -50%);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0);
    }
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
}

form {
    max-width: 300px;
}

input {
    padding: 8px;
    font-family: inherit;
}