.smoked-meat {
    display: flex;
    position: absolute;
    top: 0px;

    justify-content: space-around;
    margin: 0;
    padding: 8px 16px;
    border-bottom-left-radius: 10px;

    font-family: sans-serif;
    font-size: 15px;
    background-color: #deb887;
    color: #fff;
    font-weight: 325;
}

.smoked-meat-pgs {

    position: fixed;
    top: 10px;
    right: 590px;

    margin: 0;
    padding: 8px 16px;
    border-bottom-left-radius: 9px;

    font-family: sans-serif;
    font-size: 15px;
    background-color: #deb887;
    color: #fff;
    font-weight: 325;
}