.grape-video {
    display: block;
    height: 670px;
}

.meet-video {
    display: block;
    height: 675px;
}

.wine-video {
    display: block;
    height: 675px;
}
kit-img {
    display: block;
    height: 675px;
    width: 1200px; }